<!doctype html>
<html class="no-js" lang="zxx" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Job Board</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/images/favicon.png}" href="img/favicon.png">
    <!-- Place favicon.ico in the root directory -->

    <th:block th:insert="~{fragments/header-links}"></th:block>
</head>

<body>
<!--[if lte IE 9]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade
    your browser</a> to improve your experience and security.</p>
<![endif]-->

<th:block th:insert="~{fragments/header}"></th:block>

<!-- bradcam_area  -->
<div class="bradcam_area bradcam_bg_1">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text">
                    <h3>Реєстрація</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ bradcam_area  -->

<div class="job_details_area" style="background-color: #FFFFFF">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <h3 class="mb-30">Зареєструйте акаунт</h3>
                <form th:action="@{/register}" th:object="${user}" method="post" enctype="multipart/form-data">
                    <label class="form-label">Логін:</label>
                    <div class="mt-0">
                        <div class="ui input" style="width: 100%;" th:errorclass="error" name="username">
                            <input type="text" placeholder="Логін" th:field="*{username}">
                        </div>
                    </div>
                    <div th:if="${#fields.hasErrors('username')}" class="invalid-feedback" style="display: block;">
                        <ul style="padding-left: 1em;">
                            <li th:each="err : ${#fields.errors('username')}" th:text="${err}"></li>
                        </ul>
                    </div>
                    <label class="form-label">Пароль:</label>
                    <div class="mt-0">
                        <div class="ui input" style="width: 100%;" th:errorclass="error" name="password">
                            <input type="password" placeholder="Пароль" th:field="*{password}">
                        </div>
                    </div>
                    <label class="form-label">Назва організації або ФОП:</label>
                    <div class="mt-0">
                        <div class="ui input" style="width: 100%;" th:errorclass="error" name="name">
                            <input type="text" placeholder="Назва організації або ФОП" th:field="*{name}">
                        </div>
                    </div>
                    <div th:if="${#fields.hasErrors('name')}" class="invalid-feedback" style="display: block;">
                        <ul style="padding-left: 1em;">
                            <li th:each="err : ${#fields.errors('name')}" th:text="${err}"></li>
                        </ul>
                    </div>
                    <label class="form-label">Електронна пошта:</label>
                    <div class="mt-0">
                        <div class="ui input" style="width: 100%;" th:errorclass="error" name="email">
                            <input type="text" placeholder="Електронна пошта" th:field="*{email}">
                        </div>
                    </div>
                    <div th:if="${#fields.hasErrors('email')}" class="invalid-feedback" style="display: block;">
                        <ul style="padding-left: 1em;">
                            <li th:each="err : ${#fields.errors('email')}" th:text="${err}"></li>
                        </ul>
                    </div>
                    <label class="form-label">Розташування офісу:</label>
                    <div class="mt-0">
                        <div class="ui input" style="width: 100%;" th:errorclass="error" name="officeLocation">
                            <input type="text" placeholder="Розташування офісу" th:field="*{officeLocation}">
                        </div>
                    </div>
                    <div th:if="${#fields.hasErrors('officeLocation')}" class="invalid-feedback" style="display: block;">
                        <ul style="padding-left: 1em;">
                            <li th:each="err : ${#fields.errors('officeLocation')}" th:text="${err}"></li>
                        </ul>
                    </div>
                    <label class="form-label">Веб-сайт:</label>
                    <div class="mt-0">
                        <div class="ui input" style="width: 100%;" th:errorclass="error" name="website">
                            <input type="text" placeholder="Веб-сайт" th:field="*{website}">
                        </div>
                    </div>
                    <div th:if="${#fields.hasErrors('website')}" class="invalid-feedback" style="display: block;">
                        <ul style="padding-left: 1em;">
                            <li th:each="err : ${#fields.errors('website')}" th:text="${err}"></li>
                        </ul>
                    </div>
                    <label class="form-label">Опис компанії:</label>
                    <div class="mt-10">
                        <div class="ui form">
                            <div class="field" th:errorclass="error" name="description">
                                <textarea style="resize: none" placeholder="Опис компанії" th:field="*{description}"></textarea>
                            </div>
                        </div>
                    </div>
                    <div th:if="${#fields.hasErrors('description')}" class="invalid-feedback" style="display: block;">
                        <ul style="padding-left: 1em;">
                            <li th:each="err : ${#fields.errors('description')}" th:text="${err}"></li>
                        </ul>
                    </div>
                    <div class="mt-10">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <button type="button" id="inputGroupFileAddon03"><i class="fa fa-cloud-upload" aria-hidden="true"></i>
                                </button>
                            </div>
                            <div class="custom-file">
                                <input type="file" name="profileImage" class="custom-file-input" id="inputGroupFile03" aria-describedby="inputGroupFileAddon03">
                                <label class="custom-file-label" for="inputGroupFile03">Зображення профіля</label>
                            </div>
                        </div>
                    </div>
                    <div th:if="${fileError}" class="invalid-feedback" style="display: block;">
                        <p style="color: #dc3545;">Оберіть зображення профілю</p>
                    </div>
                    <div class="submit_btn" style="margin-top: 1.5em;">
                        <button class="boxed-btn3 w-100" type="submit">Зареєструватись</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<th:block th:insert="~{fragments/footer}"></th:block>

<th:block th:insert="~{fragments/footer-links}"></th:block>
</body>

</html>