<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <title>Job Board - Адмін-панель </title>
    <link rel="icon" type="image/x-icon" href="assets/img/favicon.ico"/>
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/bootstrap.min.css" th:href="@{/styles/css/bootstrap.min.css}">
    <link th:href="@{/admin/admin-styles/css/main.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/admin/admin-styles/css/structure.css}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="css/flaticon.css" th:href="@{/styles/css/flaticon.css}">
    <link rel="stylesheet" href="css/font-awesome.min.css" th:href="@{/styles/css/font-awesome.min.css}">

    <!-- END GLOBAL MANDATORY STYLES -->

    <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM STYLES -->
    <link href="assets/css/support-chat.css" th:href="@{/admin/admin-styles/css/support-chat.css}" rel="stylesheet"
          type="text/css"/>
    <link href="assets/css/default-dashboard/style.css" th:href="@{/admin/admin-styles/css/default-dashboard/style.css}"
          rel="stylesheet" type="text/css"/>
    <!-- END PAGE LEVEL PLUGINS/CUSTOM STYLES -->

</head>
<body class="default-sidebar">

<!-- Tab Mobile View Header -->
<header class="tabMobileView header navbar fixed-top d-lg-none">
    <div class="nav-toggle">
        <a href="" class="nav-link sidebarCollapse" data-placement="bottom">
            <i class="fa fa-ellipsis-v"></i>
        </a>
        <a href="index.html" class=""> <img src="admin/admin-img/img/logo-3.png" class="img-fluid" alt="logo"></a>
    </div>
</header>
<!-- Tab Mobile View Header -->

<!--  BEGIN MAIN CONTAINER  -->
<div class="main-container" id="container">

    <div class="overlay"></div>
    <div class="cs-overlay"></div>

    <!--  BEGIN SIDEBAR  -->

    <div class="sidebar-wrapper sidebar-theme">

        <div id="dismiss" class="d-lg-none"><i class="flaticon-cancel-12"></i></div>

        <nav id="sidebar">

            <ul class="navbar-nav theme-brand flex-row  d-none d-lg-flex">
                <li class="nav-item d-flex">
                    <a href="index.html" class="navbar-brand">
                        <img src="/admin/admin-img/img/logo-3.png" class="img-fluid" alt="logo">
                    </a>
                    <p class="border-underline"></p>
                </li>
                <li class="nav-item theme-text">
                    <a href="index.html" class="nav-link"> Job Board </a>
                </li>
            </ul>


            <ul class="list-unstyled menu-categories" id="accordionExample">
                <li class="menu">
                    <a href="#dashboard" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle">
                        <div class="" style="margin-left: 20px">
                            <i class="fa fa-tachometer"></i>
                            <span>Адмін-панель</span>
                        </div>

                        <div>
                            <span class="badge badge-pill badge-secondary mr-2">6</span>
                        </div>
                    </a>
                    <ul class="collapse submenu list-unstyled show" id="dashboard" data-parent="#accordionExample">
                        <li class="active">
                            <a href="index.html"> <i class="fa fa-desktop"></i> Головна </a>
                        </li>
                        <li>
                            <a href="accounting_dashboard.html"> <i class="fa fa-user"></i> Користувачі </a>
                        </li>
                        <li>
                            <a href="classic_dashboard.html"> <i class="fa fa-cubes"></i> Категорії </a>
                        </li>
                        <li>
                            <a href="stock_market_dashboard.html"> <i class="fa fa-map-marker"></i> Області </a>
                        </li>
                        <li>
                            <a href="cryptocurrency_dashboard.html"> <i class="fa fa-map"></i>Міста </a>
                        </li>
                        <li>
                            <a href="cryptocurrency_dashboard.html"> <i class="fa fa-briefcase"></i>Вакансії </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>

    </div>

    <!--  END SIDEBAR  -->

    <!--  BEGIN CONTENT PART  -->
    <div id="content" class="main-content" style="margin-top: 0;">
        <div class="container">
            <div class="page-header">
                <div class="page-title">
                    <h3>Адмін-панель</h3>
                </div>
            </div>

            <div class="row layout-spacing ">

                <div class="col-xl-6 mb-xl-0 col-lg-6 mb-4 col-md-6 col-sm-6">
                    <div class="widget-content-area  data-widgets br-4">
                        <div class="widget  t-sales-widget">
                            <div class="media">
                                <div class="icon ml-2">
                                    <i class="fa fa-briefcase"
                                       style="width: 50px; height: 50px; line-height: 30px;"></i>
                                </div>
                                <div class="media-body text-right">
                                    <p class="widget-text mb-0">Вакансій</p>
                                    <p class="widget-numeric-value" th:text="${allAds.size()}">98,225</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-6 mb-xl-0 col-lg-6 mb-4 col-md-6 col-sm-6">
                    <div class="widget-content-area  data-widgets br-4">
                        <div class="widget  t-order-widget">
                            <div class="media">
                                <div class="icon ml-2">
                                    <i class="fa fa-user" style="width: 50px; height: 50px; padding-left: 15px;"></i>
                                </div>
                                <div class="media-body text-right">
                                    <p class="widget-text mb-0">Користувачів</p>
                                    <p class="widget-numeric-value" th:text="${users.size()}">24,017</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-12 layout-spacing">
                    <div class="statbox widget box">
                        <div class="widget-header ">
                            <div class="row">
                                <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                    <h4>Вакансії під перевірку</h4>
                                </div>
                            </div>
                        </div>

                        <div class="widget-content-area ">

                            <div class="table-responsive new-products">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th class="form-check-column text-center">
                                            <label for="checkAll"
                                                   class="new-control new-checkbox new-checkbox-rounded checkbox-primary pb-2">
                                                <input type="checkbox" id="checkAll" class="new-control-input">
                                                <span class="new-control-indicator mt-2"></span><span class="invisible">s</span>
                                            </label>
                                        </th>
                                        <th>Назва</th>
                                        <th>Категорія</th>
                                        <th>Область</th>
                                        <th class="text-center">Місто</th>
                                        <th>Користувач</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="ad : ${checkAds}">
                                        <td class="form-check-column text-center">
                                            <label class="new-control new-checkbox new-checkbox-rounded checkbox-primary pb-2">
                                                <input type="checkbox" class="new-control-input chkbox">
                                                <span class="new-control-indicator mt-2"></span><span class="invisible">s</span>
                                            </label>
                                        </td>
                                        <td th:text="${ad.name}">Camera</td>
                                        <td><span class="badge badge-info badge-pill" th:text="${ad.category.name}">Simple</span>
                                        </td>
                                        <td th:text="${ad.city.region.name}">#0001</td>
                                        <td class="text-center" th:text="${ad.city.name}">1</td>
                                        <td>
                                            <a th:href="@{/profile(user = ${ad.user.username})}"
                                               th:text="${ad.user.name}"></a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="pagination-section">
                                <ul class="pagination pagination-style-1 pagination-rounded justify-content-end mt-3 mb-3">
                                    <li><a href="javascript:void(0);">«</a></li>
                                    <li><a href="javascript:void(0);">1</a></li>
                                    <li><a href="javascript:void(0);">2</a></li>
                                    <li><a href="javascript:void(0);">3</a></li>
                                    <li><a href="javascript:void(0);">4</a></li>
                                    <li><a href="javascript:void(0);">5</a></li>
                                    <li><a href="javascript:void(0);">»</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!--  END CONTENT PART  -->

</div>
<!-- END MAIN CONTAINER -->

<!-- BEGIN GLOBAL MANDATORY SCRIPTS -->
<script src="admin/admin-js/js/libs/jquery-3.1.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script th:src="@{/js/popper.min.js}"></script>
<script src="admin/admin-js/js/app.js"></script>
<script>
    $(document).ready(function () {
        App.init();
    });
</script>
<script src="admin/admin-js/js/custom.js"></script>
<!-- END GLOBAL MANDATORY SCRIPTS -->

<!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS -->
<script src="admin/admin-js/js/default-dashboard/default-custom.js"></script>
<script src="admin/admin-js/js/support-chat.js"></script>
<!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS -->
</body>
</html>