<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <title>Default | Equation - Multipurpose Bootstrap Dashboard Template </title>
    <link rel="icon" type="image/x-icon" href="assets/img/favicon.ico"/>
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/bootstrap.min.css" th:href="@{/styles/css/bootstrap.min.css}">
    <link th:href="@{/admin/admin-styles/css/main.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/admin/admin-styles/css/structure.css}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="css/flaticon.css" th:href="@{/styles/css/flaticon.css}">
    <link rel="stylesheet" href="css/font-awesome.min.css" th:href="@{/styles/css/font-awesome.min.css}">

    <!-- END GLOBAL MANDATORY STYLES -->

    <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM STYLES -->
    <link href="assets/css/support-chat.css" th:href="@{/admin/admin-styles/css/support-chat.css}" rel="stylesheet"
          type="text/css"/>
    <link href="assets/css/default-dashboard/style.css" th:href="@{/admin/admin-styles/css/default-dashboard/style.css}"
          rel="stylesheet" type="text/css"/>
    <!-- END PAGE LEVEL PLUGINS/CUSTOM STYLES -->

</head>
<body class="default-sidebar">

<!-- Tab Mobile View Header -->
<header class="tabMobileView header navbar fixed-top d-lg-none">
    <div class="nav-toggle">
        <a href="" class="nav-link sidebarCollapse" data-placement="bottom">
            <i class="fa fa-ellipsis-v"></i>
        </a>
        <a href="index.html" class=""> <img src="admin/admin-img/img/logo-3.png" class="img-fluid" alt="logo"></a>
    </div>
</header>
<!-- Tab Mobile View Header -->

<!--  BEGIN MAIN CONTAINER  -->
<div class="main-container" id="container">

    <div class="overlay"></div>
    <div class="cs-overlay"></div>

    <!--  BEGIN SIDEBAR  -->

    <div class="sidebar-wrapper sidebar-theme">

        <div id="dismiss" class="d-lg-none"><i class="flaticon-cancel-12"></i></div>

        <nav id="sidebar">

            <ul class="navbar-nav theme-brand flex-row  d-none d-lg-flex">
                <li class="nav-item d-flex">
                    <a href="index.html" class="navbar-brand">
                        <img src="/admin/admin-img/img/logo-3.png" class="img-fluid" alt="logo">
                    </a>
                    <p class="border-underline"></p>
                </li>
                <li class="nav-item theme-text">
                    <a href="index.html" class="nav-link"> Job Board </a>
                </li>
            </ul>


            <ul class="list-unstyled menu-categories" id="accordionExample">
                <li class="menu">
                    <a href="#dashboard" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle">
                        <div class="" style="margin-left: 20px">
                            <i class="fa fa-tachometer"></i>
                            <span>Адмін-панель</span>
                        </div>

                        <div>
                            <span class="badge badge-pill badge-secondary mr-2">6</span>
                        </div>
                    </a>
                    <ul class="collapse submenu list-unstyled show" id="dashboard" data-parent="#accordionExample">
                        <li class="active">
                            <a href="index.html"> <i class="fa fa-desktop"></i> Головна </a>
                        </li>
                        <li>
                            <a href="accounting_dashboard.html"> <i class="fa fa-user"></i> Користувачі </a>
                        </li>
                        <li>
                            <a href="classic_dashboard.html"> <i class="fa fa-cubes"></i> Категорії </a>
                        </li>
                        <li>
                            <a href="stock_market_dashboard.html"> <i class="fa fa-map-marker"></i> Області </a>
                        </li>
                        <li>
                            <a href="cryptocurrency_dashboard.html"> <i class="fa fa-map"></i>Міста </a>
                        </li>
                        <li>
                            <a href="cryptocurrency_dashboard.html"> <i class="fa fa-briefcase"></i>Вакансії </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>

    </div>

    <!--  END SIDEBAR  -->

    <!--  BEGIN CONTENT PART  -->
    <div id="content" class="main-content" style="margin-top: 0;">
        <div class="container">
            <div class="page-header">
                <div class="page-title">
                    <h3>Dashboard</h3>
                </div>
            </div>

            <div class="row layout-spacing ">

                <div class="col-xl-6 mb-xl-0 col-lg-6 mb-4 col-md-6 col-sm-6">
                    <div class="widget-content-area  data-widgets br-4">
                        <div class="widget  t-sales-widget">
                            <div class="media">
                                <div class="icon ml-2">
                                    <i class="fa fa-briefcase" style="width: 50px; height: 50px; line-height: 30px;"></i>
                                </div>
                                <div class="media-body text-right">
                                    <p class="widget-text mb-0">Вакансій</p>
                                    <p class="widget-numeric-value">98,225</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-6 mb-xl-0 col-lg-6 mb-4 col-md-6 col-sm-6">
                    <div class="widget-content-area  data-widgets br-4">
                        <div class="widget  t-order-widget">
                            <div class="media">
                                <div class="icon ml-2">
                                    <i class="fa fa-user" style="width: 50px; height: 50px; padding-left: 15px;"></i>
                                </div>
                                <div class="media-body text-right">
                                    <p class="widget-text mb-0">Користувачів</p>
                                    <p class="widget-numeric-value">24,017</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

<!--                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 mb-sm-0 mb-4">-->
<!--                    <div class="widget-content-area  data-widgets br-4">-->
<!--                        <div class="widget  t-customer-widget">-->
<!--                            <div class="media">-->
<!--                                <div class="icon ml-2">-->
<!--                                    <i class="flaticon-user-11"></i>-->
<!--                                </div>-->
<!--                                <div class="media-body text-right">-->
<!--                                    <p class="widget-text mb-0">Customers</p>-->
<!--                                    <p class="widget-numeric-value">92,251</p>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <p class="widget-total-stats mt-2">390 New Customers</p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->

<!--                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">-->

<!--                    <div class="widget-content-area  data-widgets br-4">-->
<!--                        <div class="widget  t-income-widget">-->
<!--                            <div class="media">-->
<!--                                <div class="icon ml-2">-->
<!--                                    <i class="flaticon-money"></i>-->
<!--                                </div>-->
<!--                                <div class="media-body text-right">-->
<!--                                    <p class="widget-text mb-0">Income</p>-->
<!--                                    <p class="widget-numeric-value">9.5 M</p>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <p class="widget-total-stats mt-2">$2.1 M This Week</p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->

            </div>
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-12 layout-spacing">
                    <div class="statbox widget box">
                        <div class="widget-header ">
                            <div class="row">
                                <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                    <h4>New Products</h4>
                                </div>
                            </div>
                        </div>

                        <div class="widget-content-area ">

                            <div class="table-responsive new-products">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th class="form-check-column text-center">
                                            <label for="checkAll"
                                                   class="new-control new-checkbox new-checkbox-rounded checkbox-primary pb-2">
                                                <input type="checkbox" id="checkAll" class="new-control-input">
                                                <span class="new-control-indicator mt-2"></span><span class="invisible">s</span>
                                            </label>
                                        </th>
                                        <th>Product</th>
                                        <th>Type</th>
                                        <th>SKU</th>
                                        <th class="text-center">Quantity</th>
                                        <th>Image</th>
                                        <th class="text-center">Price</th>
                                        <th class="text-center">Status</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td class="form-check-column text-center">
                                            <label class="new-control new-checkbox new-checkbox-rounded checkbox-primary pb-2">
                                                <input type="checkbox" class="new-control-input chkbox">
                                                <span class="new-control-indicator mt-2"></span><span class="invisible">s</span>
                                            </label>
                                        </td>
                                        <td>Camera</td>
                                        <td><span class="badge badge-info badge-pill">Simple</span></td>
                                        <td>#0001</td>
                                        <td class="text-center">1</td>
                                        <td>
                                            <img src="/admin/admin-img/img/90x90.jpg" class="img-fluid" alt="img-1"
                                                 style="border-color: #3862f5;">
                                        </td>
                                        <td class="text-center">$848.95</td>
                                        <td class="text-center">
                                            <div class="toolbar">
                                                <div class="toolbar-toggle">...</div>
                                                <ul class="toolbar-dropdown animated fadeInUp table-controls list-inline">
                                                    <li class="list-inline-item"><a href="javascript:void(0);"
                                                                                    class="bs-tooltip"
                                                                                    data-original-title="View"><i
                                                            class="flaticon-view-3"></i></a>
                                                    </li>
                                                    <li class="list-inline-item"><a href="javascript:void(0);"
                                                                                    class="bs-tooltip"
                                                                                    data-original-title="Edit"><i
                                                            class="flaticon-edit-5"></i></a>
                                                    </li>
                                                    <li class="list-inline-item"><a href="javascript:void(0);"
                                                                                    class="bs-tooltip"
                                                                                    data-original-title="Remove"><i
                                                            class="flaticon-delete-6"></i></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td class="form-check-column text-center">
                                            <label class="new-control new-checkbox new-checkbox-rounded checkbox-primary pb-2">
                                                <input type="checkbox" class="new-control-input chkbox">
                                                <span class="new-control-indicator mt-2"></span><span class="invisible">s</span>
                                            </label>
                                        </td>
                                        <td>Mobile</td>
                                        <td><span class="badge badge-info badge-pill">Simple</span></td>
                                        <td>#0002</td>
                                        <td class="text-center">1</td>
                                        <td>
                                            <img src="/admin/admin-img/img/90x90.jpg" class="img-fluid" alt="img-1"
                                                 style="border-color: #07e0c4;">
                                        </td>
                                        <td class="text-center">$529.95</td>
                                        <td class="text-center">
                                            <div class="toolbar">
                                                <div class="toolbar-toggle">...</div>
                                                <ul class="toolbar-dropdown animated fadeInUp table-controls list-inline">
                                                    <li class="list-inline-item"><a href="javascript:void(0);"
                                                                                    class="bs-tooltip"
                                                                                    data-original-title="View"><i
                                                            class="flaticon-view-3"></i></a>
                                                    </li>
                                                    <li class="list-inline-item"><a href="javascript:void(0);"
                                                                                    class="bs-tooltip"
                                                                                    data-original-title="Edit"><i
                                                            class="flaticon-edit-5"></i></a>
                                                    </li>
                                                    <li class="list-inline-item"><a href="javascript:void(0);"
                                                                                    class="bs-tooltip"
                                                                                    data-original-title="Remove"><i
                                                            class="flaticon-delete-6"></i></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td class="form-check-column text-center">
                                            <label class="new-control new-checkbox new-checkbox-rounded checkbox-primary pb-2">
                                                <input type="checkbox" class="new-control-input chkbox">
                                                <span class="new-control-indicator mt-2"></span><span class="invisible">s</span>
                                            </label>
                                        </td>
                                        <td>Windows 10</td>
                                        <td><span class="badge badge-success badge-pill">Digital</span></td>
                                        <td>#0003</td>
                                        <td class="text-center">3</td>
                                        <td>
                                            <img src="/admin/admin-img/img/90x90.jpg" class="img-fluid" alt="img-1"
                                                 style="border-color: #00b1f4;">
                                        </td>
                                        <td class="text-center">$1584.00</td>
                                        <td class="text-center">
                                            <div class="toolbar">
                                                <div class="toolbar-toggle">...</div>
                                                <ul class="toolbar-dropdown animated fadeInUp table-controls list-inline">
                                                    <li class="list-inline-item"><a href="javascript:void(0);"
                                                                                    class="bs-tooltip"
                                                                                    data-original-title="View"><i
                                                            class="flaticon-view-3"></i></a>
                                                    </li>
                                                    <li class="list-inline-item"><a href="javascript:void(0);"
                                                                                    class="bs-tooltip"
                                                                                    data-original-title="Edit"><i
                                                            class="flaticon-edit-5"></i></a>
                                                    </li>
                                                    <li class="list-inline-item"><a href="javascript:void(0);"
                                                                                    class="bs-tooltip"
                                                                                    data-original-title="Remove"><i
                                                            class="flaticon-delete-6"></i></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td class="form-check-column text-center">
                                            <label class="new-control new-checkbox new-checkbox-rounded checkbox-primary pb-2">
                                                <input type="checkbox" class="new-control-input chkbox">
                                                <span class="new-control-indicator mt-2"></span><span class="invisible">s</span>
                                            </label>
                                        </td>
                                        <td>Watch</td>
                                        <td><span class="badge badge-info badge-pill">Simple</span></td>
                                        <td>#0004</td>
                                        <td class="text-center">5</td>
                                        <td>
                                            <img src="/admin/admin-img/img/90x90.jpg" class="img-fluid" alt="img-1"
                                                 style="border-color: #f8538d;">
                                        </td>
                                        <td class="text-center">$595.99</td>
                                        <td class="text-center">
                                            <div class="toolbar">
                                                <div class="toolbar-toggle">...</div>
                                                <ul class="toolbar-dropdown animated fadeInUp table-controls list-inline">
                                                    <li class="list-inline-item"><a href="javascript:void(0);"
                                                                                    class="bs-tooltip"
                                                                                    data-original-title="View"><i
                                                            class="flaticon-view-3"></i></a>
                                                    </li>
                                                    <li class="list-inline-item"><a href="javascript:void(0);"
                                                                                    class="bs-tooltip"
                                                                                    data-original-title="Edit"><i
                                                            class="flaticon-edit-5"></i></a>
                                                    </li>
                                                    <li class="list-inline-item"><a href="javascript:void(0);"
                                                                                    class="bs-tooltip"
                                                                                    data-original-title="Remove"><i
                                                            class="flaticon-delete-6"></i></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td class="form-check-column text-center">
                                            <label class="new-control new-checkbox new-checkbox-rounded checkbox-primary pb-2">
                                                <input type="checkbox" class="new-control-input chkbox">
                                                <span class="new-control-indicator mt-2"></span><span class="invisible">s</span>
                                            </label>
                                        </td>
                                        <td>Drone</td>
                                        <td><span class="badge badge-info badge-pill">Simple</span></td>
                                        <td>#0005</td>
                                        <td class="text-center">1</td>
                                        <td>
                                            <img src="/admin/admin-img/img/90x90.jpg" class="img-fluid" alt="img-1"
                                                 style="border-color: #ffbb44;">
                                        </td>
                                        <td class="text-center">$58.00</td>
                                        <td class="text-center">
                                            <div class="toolbar">
                                                <div class="toolbar-toggle">...</div>
                                                <ul class="toolbar-dropdown animated fadeInUp table-controls list-inline">
                                                    <li class="list-inline-item"><a href="javascript:void(0);"
                                                                                    class="bs-tooltip"
                                                                                    data-original-title="View"><i
                                                            class="flaticon-view-3"></i></a>
                                                    </li>
                                                    <li class="list-inline-item"><a href="javascript:void(0);"
                                                                                    class="bs-tooltip"
                                                                                    data-original-title="Edit"><i
                                                            class="flaticon-edit-5"></i></a>
                                                    </li>
                                                    <li class="list-inline-item"><a href="javascript:void(0);"
                                                                                    class="bs-tooltip"
                                                                                    data-original-title="Remove"><i
                                                            class="flaticon-delete-6"></i></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td class="form-check-column text-center">
                                            <label class="new-control new-checkbox new-checkbox-rounded checkbox-primary pb-2">
                                                <input type="checkbox" class="new-control-input chkbox">
                                                <span class="new-control-indicator mt-2"></span><span class="invisible">s</span>
                                            </label>
                                        </td>
                                        <td>Sunglasses</td>
                                        <td><span class="badge badge-secondary badge-pill">Bundled</span></td>
                                        <td>#0006</td>
                                        <td class="text-center">6</td>
                                        <td>
                                            <img src="/admin/admin-img/img/90x90.jpg" class="img-fluid" alt="img-1"
                                                 style="border-color: #25d5e4;">
                                        </td>
                                        <td class="text-center">$123.00</td>
                                        <td class="text-center">
                                            <div class="toolbar">
                                                <div class="toolbar-toggle">...</div>
                                                <ul class="toolbar-dropdown animated fadeInUp table-controls list-inline">
                                                    <li class="list-inline-item"><a href="javascript:void(0);"
                                                                                    class="bs-tooltip"
                                                                                    data-original-title="View"><i
                                                            class="flaticon-view-3"></i></a>
                                                    </li>
                                                    <li class="list-inline-item"><a href="javascript:void(0);"
                                                                                    class="bs-tooltip"
                                                                                    data-original-title="Edit"><i
                                                            class="flaticon-edit-5"></i></a>
                                                    </li>
                                                    <li class="list-inline-item"><a href="javascript:void(0);"
                                                                                    class="bs-tooltip"
                                                                                    data-original-title="Remove"><i
                                                            class="flaticon-delete-6"></i></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="pagination-section">
                                <ul class="pagination pagination-style-1 pagination-rounded justify-content-end mt-3 mb-3">
                                    <li><a href="javascript:void(0);">«</a></li>
                                    <li><a href="javascript:void(0);">1</a></li>
                                    <li><a href="javascript:void(0);">2</a></li>
                                    <li><a href="javascript:void(0);">3</a></li>
                                    <li><a href="javascript:void(0);">4</a></li>
                                    <li><a href="javascript:void(0);">5</a></li>
                                    <li><a href="javascript:void(0);">»</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!--  END CONTENT PART  -->

</div>
<!-- END MAIN CONTAINER -->

<!-- BEGIN GLOBAL MANDATORY SCRIPTS -->
<script src="admin/admin-js/js/libs/jquery-3.1.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script th:src="@{/js/popper.min.js}"></script>
<script src="admin/admin-js/js/app.js"></script>
<script>
    $(document).ready(function () {
        App.init();
    });
</script>
<script src="admin/admin-js/js/custom.js"></script>
<!-- END GLOBAL MANDATORY SCRIPTS -->

<!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS -->
<script src="admin/admin-js/js/default-dashboard/default-custom.js"></script>
<script src="admin/admin-js/js/support-chat.js"></script>
<!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS -->
</body>
</html>