<!doctype html>
<html class="no-js" lang="zxx" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Job Board</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/images/favicon.png}" href="img/favicon.png">
    <!-- Place favicon.ico in the root directory -->

    <th:block th:insert="~{fragments/header-links}"></th:block>
</head>

<body>
<!--[if lte IE 9]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade
    your browser</a> to improve your experience and security.</p>
<![endif]-->

<th:block th:insert="~{fragments/header}"></th:block>

<!-- bradcam_area  -->
<div class="bradcam_area bradcam_bg_1">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text">
                    <h3 th:text="${user.name}">Google Inc.</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ bradcam_area  -->

<div class="job_details_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-16">
                <div class="job_details_header">
                    <div class="single_jobs white-bg d-flex justify-content-between">
                        <div class="jobs_left d-flex align-items-center">
                            <div class="single_candidates text-center" style="margin-right: 50px;">
                                <div>
                                    <img style="object-fit: contain; max-width: 150px; max-height: 150px;"
                                         th:src="${'/resources/' + user.img}" src="img/candiateds/1.png" alt="">
                                </div>
                            </div>
                            <div class="jobs_conetent">
                                <a href="#"><h4 th:text="${user.name}">Google Inc.</h4></a>
                                <button th:if="${user.username == #authentication.getName()}" class="boxed-btn3" style="font-size: 12px; padding: 5px 15px;" onclick="window.location = '/editProfile'">Редагувати</button>
                                <form style="display: none;" th:action="@{/logout}" method="post" id="logout-form"></form>
                                <button th:if="${user.username == #authentication.getName()}" class="boxed-btn2" style="font-size: 12px; padding: 6px 15px;" id="logout-button">Вийти</button>
                                <div class="links_locat d-flex align-items-center" style="margin-top: 10px;">
                                    <div class="location">
                                        <p><i class="fa fa-map-marker"></i> <span th:text="${user.officeLocation}">Житомирська область, м. Бердичів</span></p>
                                    </div>
                                    <div class="location">
                                        <p><i class="fa fa-globe"></i> <span th:text="${user.website}">google.com</span></p>
                                    </div>
                                    <div class="location">
                                        <p><i class="fa fa-envelope"></i> <span th:text="${user.email}">mail@mail.com</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="descript_wrap white-bg" style="margin-bottom: 2em;">
                    <div class="single_wrap">
                        <h4>Коротка інформація</h4>
                        <p th:text="${user.description}">There are many variations of passages of Lorem Ipsum available, but the majority have
                            suffered alteration in some form, by injected humour, or randomised words which don't look
                            even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be
                            sure there isn't anything embarrassing.</p>
                    </div>
                </div>
                <div class="descript_wrap white-bg">
                    <div class="single_wrap">
                        <h4>Вакансії компаії</h4>
                        <div class="job_lists">
                            <div class="row">
                                <div class="col-lg-12 col-md-12">

                                    <div class="single_jobs white-bg d-flex justify-content-between">
                                        <div class="jobs_left d-flex align-items-center">
                                            <div class="thumb">
                                                <img th:src="@{/images/icons/4.svg}" src="img/svg_icon/4.svg" alt="">
                                            </div>
                                            <div class="jobs_conetent">
                                                <div class="d-flex align-items-baseline">
                                                    <a href="job_details.html" style="margin-right: 10px;"><h4>Visual
                                                        Designer</h4></a>
                                                </div>
                                                <div class="links_locat d-flex align-items-center">
                                                    <div class="location">
                                                        <p><i class="fa fa-map-marker"></i> Житомирська область, м.
                                                            Бердичів</p>
                                                    </div>
                                                    <div class="location">
                                                        <p><i class="fa fa-cubes"></i> Категорія</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="jobs_right">
                                            <div class="apply_now">
                                                <a href="/item" class="boxed-btn3">Відгукнутись</a>
                                            </div>
                                            <div class="date">
                                                <p>Опубліковано: 31 Jan 2020</p>
                                            </div>
                                            <a href="#" class="genric-btn success-border"
                                               style="line-height: 20px; height: 20px;">Активно</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12">
                                    <div class="single_jobs white-bg d-flex justify-content-between">
                                        <div class="jobs_left d-flex align-items-center">
                                            <div class="thumb">
                                                <img th:src="@{/images/icons/5.svg}" src="img/svg_icon/5.svg" alt="">
                                            </div>
                                            <div class="jobs_conetent">
                                                <div class="d-flex align-items-baseline">
                                                    <a href="job_details.html" style="margin-right: 10px;"><h4>Software Engineer</h4></a>
                                                </div>
                                                <div class="links_locat d-flex align-items-center">
                                                    <div class="location">
                                                        <p><i class="fa fa-map-marker"></i> Житомирська область, м.
                                                            Бердичів</p>
                                                    </div>
                                                    <div class="location">
                                                        <p><i class="fa fa-cubes"></i> Категорія</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="jobs_right">
                                            <div class="apply_now">
                                                <a href="/item" class="boxed-btn3">Відгукнутись</a>
                                            </div>
                                            <div class="date">
                                                <p>Опубліковано: 31 Jan 2020</p>
                                            </div>
                                            <a href="#" class="genric-btn warning-border"
                                               style="line-height: 20px; height: 20px;">Перевіряється</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12">
                                    <div class="single_jobs white-bg d-flex justify-content-between">
                                        <div class="jobs_left d-flex align-items-center">
                                            <div class="thumb">
                                                <img th:src="@{/images/icons/1.svg}" src="img/svg_icon/1.svg" alt="">
                                            </div>
                                            <div class="jobs_conetent">
                                                <div class="d-flex align-items-baseline">
                                                    <a href="job_details.html" style="margin-right: 10px;"><h4>Creative Designer</h4></a>
                                                </div>
                                                <div class="links_locat d-flex align-items-center">
                                                    <div class="location">
                                                        <p><i class="fa fa-map-marker"></i> Житомирська область, м.
                                                            Бердичів</p>
                                                    </div>
                                                    <div class="location">
                                                        <p><i class="fa fa-cubes"></i> Категорія</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="jobs_right">
                                            <div class="apply_now">
                                                <a href="/item" class="boxed-btn3">Відгукнутись</a>
                                            </div>
                                            <div class="date">
                                                <p>Опубліковано: 31 Jan 2020</p>
                                            </div>
                                            <a href="#" class="genric-btn danger-border"
                                               style="line-height: 20px; height: 20px;">Заблоковано</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<th:block th:insert="~{fragments/footer}"></th:block>
<th:block th:insert="~{fragments/footer-links}"></th:block>
<script>
    var form = document.getElementById("logout-form");

    document.getElementById("logout-button").addEventListener("click", function () {
        form.submit();
    });
</script>

</body>
</html>