<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<th:block th:fragment="header-fragment">
    <!-- header-start -->
    <header>
        <div class="header-area ">
            <div id="sticky-header" class="main-header-area">
                <div class="container-fluid ">
                    <div class="header_bottom_border">
                        <div class="row align-items-center">
                            <div class="col-xl-3 col-lg-2">
                                <div class="logo">
                                    <a href="index.html">
                                        <img th:src="@{/images/logo.png}" src="img/logo.png" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-7">
                                <div class="main-menu  d-none d-lg-block">
                                    <nav>
                                        <ul id="navigation">
                                            <li><a href="/index">Головна</a></li>
                                            <li><a href="/catalog">Шукати роботу</a></li>
                                            <li><a href="" th:href="@{/profile(user = ${#authentication.getName()})}">Профіль</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 d-none d-lg-block">
                                <div class="Appointment d-flex align-items-center">
                                    <div class="phone_num d-none d-xl-block">
                                        <a href="/login" sec:authorize="isAnonymous()">Увійти</a>
                                        <p sec:authorize="isAuthenticated()" sec:authentication="name" style="margin-bottom: 0; font-size: 1.25rem; color: white;"></p>
                                    </div>
                                    <div class="d-none d-lg-block">
                                        <a class="boxed-btn3" href="/postAd">Створити вакансію</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </header>
    <!-- header-end -->
</th:block>
<script>
</script>
</body>
</html>