<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:fragment="header-links">
    <!-- CSS here -->
    <link rel="stylesheet" href="css/bootstrap.min.css" th:href="@{/styles/css/bootstrap.min.css}">
    <link rel="stylesheet" href="css/owl.carousel.min.css" th:href="@{/styles/css/owl.carousel.min.css}">
    <link rel="stylesheet" href="css/magnific-popup.css" th:href="@{/styles/css/magnific-popup.css}">
    <link rel="stylesheet" href="css/font-awesome.min.css" th:href="@{/styles/css/font-awesome.min.css}">
    <link rel="stylesheet" href="css/themify-icons.css" th:href="@{/styles/css/themify-icons.css}">
    <link rel="stylesheet" href="css/nice-select.css" th:href="@{/styles/css/nice-select.css}">
    <link rel="stylesheet" href="css/flaticon.css" th:href="@{/styles/css/flaticon.css}">
    <link rel="stylesheet" href="css/gijgo.css" th:href="@{/styles/css/gijgo.css}">
    <link rel="stylesheet" href="css/animate.min.css" th:href="@{/styles/css/animate.min.css}">
    <link rel="stylesheet" href="css/slicknav.css" th:href="@{/styles/css/slicknav.css}">

    <link rel="stylesheet" href="css/style.css" th:href="@{/styles/css/style.css}">
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
</th:block>
</body>
</html>