<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <title>Error 404-2 | Equation - Multipurpose Bootstrap Dashboard Template </title>
    <link rel="icon" type="image/x-icon" href="assets/img/favicon.ico"/>
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/bootstrap.min.css" th:href="@{/styles/css/bootstrap.min.css}">
    <link th:href="@{/admin/admin-styles/css/main.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/admin/admin-styles/css/structure.css}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="css/flaticon.css" th:href="@{/styles/css/flaticon.css}">
    <link rel="stylesheet" href="css/font-awesome.min.css" th:href="@{/styles/css/font-awesome.min.css}">

    <!-- END GLOBAL MANDATORY STYLES -->

    <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM STYLES -->
    <link href="assets/css/support-chat.css" th:href="@{/admin/admin-styles/css/support-chat.css}" rel="stylesheet"
          type="text/css"/>
    <link href="assets/css/default-dashboard/style.css" th:href="@{/admin/admin-styles/css/default-dashboard/style.css}"
          rel="stylesheet" type="text/css"/>
    <!-- END PAGE LEVEL PLUGINS/CUSTOM STYLES -->

</head>
<body class="error404 text-center" style="display: flex; min-height: 100vh; align-items: center; justify-content: center;">
<div class="container-fluid error-content">
    <div class="">
        <h1 class="error-number">404</h1>
        <p class="mini-text">Not Found</p>
        <p class="error-text mb-4 mt-1" th:text="${exception.message}">У вас немає доступу до даної сторінки</p>
        <a href="/" class="btn btn-secondary btn-rounded mt-5">Назад</a>
    </div>
</div>
<!-- BEGIN GLOBAL MANDATORY SCRIPTS -->
<script src="assets/js/libs/jquery-3.1.1.min.js"></script>
<script src="bootstrap/js/popper.min.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
<!-- END GLOBAL MANDATORY SCRIPTS -->
</body>
</html>