<!doctype html>
<html class="no-js" lang="zxx" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Job Board</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/images/favicon.png}" href="img/favicon.png">
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="css/jquery-ui.css" th:href="@{/styles/css/jquery-ui.css}">
    <th:block th:insert="~{fragments/header-links}"></th:block>
</head>


<body>
<!--[if lte IE 9]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
<![endif]-->

<th:block th:insert="~{fragments/header}"></th:block>

<!-- bradcam_area  -->
<div class="bradcam_area bradcam_bg_1">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text">
                    <h3>4536+ Доступних вакансій</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ bradcam_area  -->

<!-- job_listing_area_start  -->
<div class="job_listing_area plus_padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="job_filter white-bg">
                    <div class="form_inner white-bg">
                        <h3>Фільтр</h3>
                        <form action="#">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="single_field">
                                        <select class="wide">
                                            <option data-display="Область">Область</option>
                                            <option value="1">Rangpur</option>
                                            <option value="2">Dhaka </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="single_field">
                                        <select class="wide">
                                            <option data-display="Місто">Місто</option>
                                            <option value="1">Rangpur</option>
                                            <option value="2">Dhaka </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="single_field">
                                        <select class="wide">
                                            <option data-display="Категорія">Категорія</option>
                                            <option value="1">Category 1</option>
                                            <option value="2">Category 2 </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="range_wrap">
                        <label for="amount">Рівень З/П:</label>
                        <div id="slider-range"></div>
                        <p>
                            <input type="text" id="amount" readonly style="border:0; color:#7A838B; font-size: 14px; font-weight:400;">
                        </p>
                    </div>
                    <div class="reset_btn">
                        <button  class="boxed-btn3 w-100" type="submit">Пошук</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="recent_joblist_wrap">
                    <div class="recent_joblist white-bg ">
                        <div class="row align-items-center">
                            <div class="col-md-6">
                                <h4>Вакансії</h4>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="job_lists m-0">
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <div class="single_jobs white-bg d-flex justify-content-between">
                                <div class="jobs_left d-flex align-items-center">
                                    <div class="thumb">
                                        <img th:src="@{/images/icons/1.svg}" src="img/svg_icon/1.svg" alt="">
                                    </div>
                                    <div class="jobs_conetent">
                                        <a href="job_details.html"><h4>Software Engineer</h4></a>
                                        <div class="links_locat d-flex align-items-center">
                                            <div class="location" style="width: 230px;">
                                                <p> <i class="fa fa-map-marker"></i> Дніпропетровська область,<br> м. Бердичів</p>
                                            </div>
                                            <div class="location">
                                                <p> <i class="fa fa-cubes"></i> Категорія</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="jobs_right">
                                    <div class="apply_now">
                                        <a href="/item" class="boxed-btn3">Відгукнутись</a>
                                    </div>
                                    <div class="date">
                                        <p>Опубліковано: 31.12.2020</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12">
                            <div class="single_jobs white-bg d-flex justify-content-between">
                                <div class="jobs_left d-flex align-items-center">
                                    <div class="thumb">
                                        <img th:src="@{/images/icons/2.svg}" src="img/svg_icon/2.svg" alt="">
                                    </div>
                                    <div class="jobs_conetent">
                                        <a href="job_details.html"><h4>Digital Marketer</h4></a>
                                        <div class="links_locat d-flex align-items-center">
                                            <div class="location" style="width: 230px;">
                                                <p> <i class="fa fa-map-marker"></i> Івано-Франківська область,<br> м. Бердичів</p>
                                            </div>
                                            <div class="location">
                                                <p> <i class="fa fa-cubes"></i> Категорія</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="jobs_right">
                                    <div class="apply_now">
                                        <a href="/item" class="boxed-btn3">Відгукнутись</a>
                                    </div>
                                    <div class="date">
                                        <p>Опубліковано: 31.12.2020</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12">
                            <div class="single_jobs white-bg d-flex justify-content-between">
                                <div class="jobs_left d-flex align-items-center">
                                    <div class="thumb">
                                        <img th:src="@{/images/icons/3.svg}" src="img/svg_icon/3.svg" alt="">
                                    </div>
                                    <div class="jobs_conetent">
                                        <a href="job_details.html"><h4>Wordpress Developer</h4></a>
                                        <div class="links_locat d-flex align-items-center">
                                            <div class="location" style="width: 230px;">
                                                <p> <i class="fa fa-map-marker"></i> Івано-Франківська область,<br> м. Бердичів</p>
                                            </div>
                                            <div class="location">
                                                <p> <i class="fa fa-cubes"></i> Категорія</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="jobs_right">
                                    <div class="apply_now">
                                        <a href="/item" class="boxed-btn3">Відгукнутись</a>
                                    </div>
                                    <div class="date">
                                        <p>Опубліковано: 31.12.2020</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12">
                            <div class="single_jobs white-bg d-flex justify-content-between">
                                <div class="jobs_left d-flex align-items-center">
                                    <div class="thumb">
                                        <img th:src="@{/images/icons/4.svg}" src="img/svg_icon/4.svg" alt="">
                                    </div>
                                    <div class="jobs_conetent">
                                        <a href="job_details.html"><h4>Visual Designer</h4></a>

                                        <div class="links_locat d-flex align-items-center">
                                            <div class="location" style="width: 230px;">
                                                <p> <i class="fa fa-map-marker"></i> Івано-Франківська область,<br> м. Бердичів</p>
                                            </div>
                                            <div class="location">
                                                <p> <i class="fa fa-cubes"></i> Категорія</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="jobs_right">
                                    <div class="apply_now">
                                        <a href="/item" class="boxed-btn3">Відгукнутись</a>
                                    </div>
                                    <div class="date">
                                        <p>Опубліковано: 31.12.2020</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12">
                            <div class="single_jobs white-bg d-flex justify-content-between">
                                <div class="jobs_left d-flex align-items-center">
                                    <div class="thumb">
                                        <img th:src="@{/images/icons/5.svg}" src="img/svg_icon/5.svg" alt="">
                                    </div>
                                    <div class="jobs_conetent">
                                        <a href="job_details.html"><h4>Software Engineer</h4></a>
                                        <div class="links_locat d-flex align-items-center">
                                            <div class="location" style="width: 230px;">
                                                <p> <i class="fa fa-map-marker"></i> Івано-Франківська область,<br> м. Бердичів</p>
                                            </div>
                                            <div class="location">
                                                <p> <i class="fa fa-cubes"></i> Категорія</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="jobs_right">
                                    <div class="apply_now">
                                        <a href="/item" class="boxed-btn3">Відгукнутись</a>
                                    </div>
                                    <div class="date">
                                        <p>Опубліковано: 31.12.2020</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12">
                            <div class="single_jobs white-bg d-flex justify-content-between">
                                <div class="jobs_left d-flex align-items-center">
                                    <div class="thumb">
                                        <img th:src="@{/images/icons/1.svg}" src="img/svg_icon/1.svg" alt="">
                                    </div>
                                    <div class="jobs_conetent">
                                        <a href="job_details.html"><h4>Creative Designer</h4></a>
                                        <div class="links_locat d-flex align-items-center">
                                            <div class="location" style="width: 230px;">
                                                <p> <i class="fa fa-map-marker"></i> Житомирська область,<br> м. Бердичів</p>
                                            </div>
                                            <div class="location">
                                                <p> <i class="fa fa-cubes"></i> Категорія</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="jobs_right">
                                    <div class="apply_now">
                                        <a href="/item" class="boxed-btn3">Відгукнутись</a>
                                    </div>
                                    <div class="date">
                                        <p>Опубліковано: 31.12.2020</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="pagination_wrap">
                                <ul>
                                    <li><a href="#"> <i class="ti-angle-left"></i> </a></li>
                                    <li><a href="#"><span>01</span></a></li>
                                    <li><a href="#"><span>02</span></a></li>
                                    <li><a href="#"> <i class="ti-angle-right"></i> </a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- job_listing_area_end  -->

<th:block th:insert="~{fragments/footer}"></th:block>

<th:block th:insert="~{fragments/footer-links}"></th:block>
<script src="js/range.js"></script>


<script>
    $( function() {
        $( "#slider-range" ).slider({
            range: true,
            min: 0,
            max: 24600,
            values: [ 750, 24600 ],
            slide: function( event, ui ) {
                $( "#amount" ).val( "$" + ui.values[ 0 ] + " - $" + ui.values[ 1 ] +"/ Міс" );
            }
        });
        $( "#amount" ).val( "$" + $( "#slider-range" ).slider( "values", 0 ) +
            " - $" + $( "#slider-range" ).slider( "values", 1 ) + "/ Міс");
    } );
</script>
</body>

</html>