<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Довідка</title>
</head>
<body>
    <p align="center" style="color:#5a4351; font-size:30px">ДОВІДКА</p>

    <p style="color:#52514f; font-size:20px">Сайт розроблений для додавання та перегляду оголошення. Для того, щоб додавати оголошення потрібно зареєструватись\увійти в обліковий запис.<br>
        <br>1. Вхід та реєстрація<br></p>
    
    
    <img src="help/LogIn.png" alt="Вхід">
    <p style="color:#52514f; font-size:20px">Вище зображений скріншот входу. Щоб увійти, потрібно заповнити всі поля та натиснути відповідну кнопку.<br>
    Якщо у вас немає аккаунта, вам необхідно натиснути кнопку "реєстрація" та зареєструватись.<br><br>1.1. Реєстрація<br></p>
    <img src="help/Registr.png" alt="Реєстрація"><br>
    <p style="color:#52514f; font-size:20px">Вище зображений скріншот реєстрації. Щоб зареєструватись, потрібно заповнити всі поля та натиснути відповідну кнопку.<br>
        Якщо всі поля не будуть заповнені, то про це буде виведено повідомлення. Також, якщо логін, введений вами, буде вже використано, ви не зареєструєтесь під ним повторно.<br>
        <br>2. Фільтр та пошук<br></p>
        <img src="help/Find.png" alt="Пошук"><br>
        <p style="color:#52514f; font-size:20px">Вище зображений скріншот форми пошуку та фільтрування. Сам фільтр знаходиться ліворуч. По середині відображаються всі доступні ваканції.<br>
            Щоб виконати пошук потрібно заповнити подай одне з полей. Після чого натиснути кнопку "Пошук". Якщо оголошення будуть знайдені - будуть виведені оголошення. У противному разі - повідомлення про відсутність.<br>
            <br>3. Додавання оголошення та його статус<br><br>3.1. Додавання оголошення<br>Щоб додати оголошення потрібно натиснути відповідну кнопку у вірхньому правому курку. Варто зазначити, що додавати оголошення можуть тільки зареєстроваті користувачі, котрі увійшли на свій обліковий запис.</p>
        <img src="help/Create.png" alt="Створення оголошення"><br>
        <p style="color:#52514f; font-size:20px"><br>
           Після натискання на вказану вище кнопку буде відкрита форма додавання нового оголошення, в якій необхідно буде заповнити всі необхідні поля та натиснути кнопку створити. Дана форма представлена нижче:<br></p>
           <img src="help/NewAd.png" alt="Створення оголошення"><br>
           <p style="color:#52514f; font-size:20px">
           3.2. Статус оголошення<br>Після заповнення попередньої форми кожне оголошення знаходиться на стадії перевірки адміністратором і може мати один з трьох статусів: Перевіряється, Активне, Заблоковане. Якщо оголошення активне - користувачі можуть бачити на сторінках сайту, в інших варіантах - ні.</p>
            <br><img src="help/Status.png" alt="Створення оголошення"><br>
            <p style="color:#52514f; font-size:20px"><br>4. Профіль користувача та дії над ними<br><br>4.1. Профіль користувача<br>Щоб перейти у вкладинку профіль потрібно натиснути на відповідну кнопку зверху сторінки. Важливо зазначити, що потрібно бути зареєстрованим та виконати вхід. </p>
            <img src="help/Profile.png" alt="Створення оголошення"><br>
            <p style="color:#52514f; font-size:20px">Вище зображення профіля користувача. Там ви можете побачити основну інформацію про користувача, відредагувати даний профіль, змінити пароль та переглянути оголошення, які були опубліковані. Також їх можна видалити
            <br><br>4.2. Редагування профілю<br><br>Щоб підредагувати профіль потрібно натиснути на кнопку "Радагувати". Далі буде відкрита форма, представлена нижче:</p><br>
            <img src="help/Edit.png" alt="Створення оголошення"><br>
            <p style="color:#52514f; font-size:20px">На даній формі користувач має змогу відредагувати дані про профіль. Але важливо, щоб всі необхідні поля були заповнені.<br><br>4.3. Заміна пароля<br><br>
            Щоб замінити пароль потрібно у вкладинці "Профіль" натиснути кнопку "Змінити пароль". Після чого буде виведено діалогове вікно, в яке потрібно буде ввести новий пароль. Після введення і натискання відповідної кнопки пароль буде змінено. Діалогове вікно представлене нижче:</p>
            <img src="help/Change.png" alt="Створення оголошення"><br>
        </body>
</html>