<!doctype html>
<html class="no-js" lang="zxx" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Job Board</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/images/favicon.png}" href="img/favicon.png">
    <!-- Place favicon.ico in the root directory -->

    <th:block th:insert="~{fragments/header-links}"></th:block>
</head>

<style>
    .ui.selection.dropdown {
        min-width: 150px;
    }
</style>

<body>
<!--[if lte IE 9]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade
    your browser</a> to improve your experience and security.</p>
<![endif]-->

<th:block th:insert="~{fragments/header}"></th:block>

<!-- slider_area_start -->
<div class="slider_area">
    <div class="single_slider  d-flex align-items-center slider_bg_1">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-7 col-md-6">
                    <div class="slider_text">
                        <h5 class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".2s"><span
                                th:text="${activeAds.size()}"></span>+ вакансій</h5>
                        <h3 class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".3s">Знайди роботу своєї
                            мрії</h3>
                        <p class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".4s">Ми пропонуємо сервіс для
                            швидкого пошуку робочих кадрів для вашої компанії</p>
                        <div class="sldier_btn wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".5s">
                            <a href="/catalog" class="boxed-btn3">Знайти роботу</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ilstration_img wow fadeInRight d-none d-lg-block text-right" data-wow-duration="1s"
         data-wow-delay=".2s">
        <img th:src="@{/images/banner/illustration.png}" src="img/banner/illustration.png" alt="">
    </div>
</div>
<!-- slider_area_end -->

<!-- catagory_area -->
<div class="catagory_area">
    <div class="container">
        <form th:action="@{/filterAds}" method="get" class="row cat_search" style="width: 100%;">
            <div class="col-lg-3 col-md-4">
                <div class="ui input">
                    <input type="text" style="width: 196px;" placeholder="Ключове слово" name="keyword">
                </div>
            </div>
            <div class="col-lg-2 col-md-4">
                <div class="single_field">
                    <select class="ui corner labeled dropdown" name="category.name">
                        <option value="">Категорія</option>
                        <option th:each="cat : ${categories}" th:text="${cat.name}" th:value="${cat.name}">
                            Bangladesh
                        </option>
                    </select>
                </div>
            </div>
            <div class="col-lg-2 col-md-4">
                <div class="single_field">
                    <select id="region_select" class="ui corner labeled dropdown" name="region.name">
                        <option value="">Область</option>
                        <option th:each="reg : ${regions}" th:text="${reg.name}"
                                th:class="${reg.name}" th:value="${reg.name}">
                            Bangladesh
                        </option>
                    </select>
                </div>
            </div>
            <div class="col-lg-2 col-md-4">
                <div class="single_field">
                    <select id="city_select" class="ui corner labeled dropdown" name="city.name">
                        <option value="">Місто</option>
                        <option th:each="city : ${cities}" th:text="${city.name}"
                                th:class="${city.region.name}" th:value="${city.name}">
                            Bangladesh
                        </option>
                    </select>
                </div>
            </div>
            <div class="col-lg-3 col-md-12">
                <div class="job_btn">
                    <button type="submit" class="boxed-btn3" style="height: 38px; padding: 10px 30px; width: 100%;">
                        Шукати
                    </button>
                </div>
            </div>
        </form>
        <div class="row">
            <div class="col-lg-12">
                <div class="popular_search d-flex align-items-center">
                    <span>Популярні запити:</span>
                    <ul>
                        <li th:each="map : ${categoryMap}"><a href="#" th:href="@{/filterAds(category.name = ${map.getKey().name})}" th:text="${map.getKey().name}">Категорія 1</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ catagory_area -->

<!-- popular_catagory_area_start  -->
<div class="popular_catagory_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section_title mb-40">
                    <h3>Популярні категорії</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div th:each="map : ${categoryMap}" class="col-lg-4 col-xl-3 col-md-6">
                <div class="single_catagory">
                    <a href="jobs.html" th:href="@{/filterAds(category.name = ${map.getKey().name})}"><h4 th:text="${map.getKey().name}">Категорія 1</h4></a>
                    <p><span th:text="${map.getValue()}">50</span> Вільних вакансій</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- popular_catagory_area_end  -->

<!-- job_listing_area_start  -->
<div class="job_listing_area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="section_title">
                    <h3>Список вакансій</h3>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="brouse_job text-right">
                    <a href="/catalog" class="boxed-btn4">Більше вакансій</a>
                </div>
            </div>
        </div>
        <div class="job_lists">
            <div class="row">
                <div class="col-lg-12 col-md-12" th:each="lastJob : ${lastJobs}">
                    <div class="single_jobs white-bg d-flex justify-content-between" style="padding-left: 20px">
                        <div class="jobs_left d-flex align-items-center">
                            <img th:src="${'/resources/' + lastJob.user.img}" src="img/svg_icon/1.svg" alt=""
                                 style="object-fit: contain; max-width: 100px; max-height: 100px;">
                            <div class="jobs_conetent">
                                <a href="" th:href="@{/ad(id = ${lastJob.id})}"><h4 th:text="${lastJob.name}">Creative
                                    Designer</h4></a>
                                <div class="links_locat d-flex align-items-center">
                                    <div class="location">
                                        <p><i class="fa fa-map-marker"></i> <span
                                                th:text="${lastJob.city.region.name}">Житомирська</span> область,<br>
                                            м. <span th:text="${lastJob.city.name}">Бердичів</span></p>
                                    </div>
                                    <div class="location">
                                        <p><i class="fa fa-cubes"></i> <span th:text="${lastJob.category.name}">Категорія</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="jobs_right">
                            <div class="apply_now">
                                <a href="" th:href="@{/ad(id = ${lastJob.id})}" class="boxed-btn3">Відгукнутись</a>
                            </div>
                            <div class="date">
                                <p>Опубліковано: <span th:text="${lastJob.publicDate}">31 Jan 2020</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- job_listing_area_end  -->

<!-- job_searcing_wrap  -->
<div class="job_searcing_wrap overlay">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 offset-lg-1 col-md-6">
                <div class="searching_text">
                    <h3>Шукаєте роботу?</h3>
                    <p>Скористайтесь нашим сервісом із докладним пошуком </p>
                    <a href="/catalog" class="boxed-btn3">Шукати роботу</a>
                </div>
            </div>
            <div class="col-lg-5 offset-lg-1 col-md-6">
                <div class="searching_text">
                    <h3>Шукаєте робітників?</h3>
                    <p>Скористайтесь зручною формою для публікації</p>
                    <a href="/postAd" class="boxed-btn3">Опублікувати</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- job_searcing_wrap end  -->

<!-- testimonial_area  -->
<div class="testimonial_area  ">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section_title text-center mb-40">
                    <h3>Відгуки</h3>
                </div>
            </div>
            <div class="col-xl-12">
                <div class="testmonial_active owl-carousel">
                    <div class="single_carousel">
                        <div class="row">
                            <div class="col-lg-11">
                                <div class="single_testmonial d-flex align-items-center">
                                    <div class="thumb">
                                        <img src="img/testmonial/author.png" alt="">
                                        <div class="quote_icon">
                                            <i class="Flaticon flaticon-quote"></i>
                                        </div>
                                    </div>
                                    <div class="info">
                                        <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                            tempor incididunt ut labore et dolore magna aliqua.
                                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                                            aliquip ex ea commodo consequat.
                                            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                                            eu fugiat nulla pariatur.
                                            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                                            deserunt mollit anim id est laborum.</p>
                                        <span>- Коренівський Євген</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single_carousel">
                        <div class="row">
                            <div class="col-lg-11">
                                <div class="single_testmonial d-flex align-items-center">
                                    <div class="thumb">
                                        <img src="img/testmonial/author.png" alt="">
                                        <div class="quote_icon">
                                            <i class=" Flaticon flaticon-quote"></i>
                                        </div>
                                    </div>
                                    <div class="info">
                                        <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                            tempor incididunt ut labore et dolore magna aliqua.
                                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                                            aliquip ex ea commodo consequat.
                                            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                                            eu fugiat nulla pariatur.
                                            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                                            deserunt mollit anim id est laborum.</p>
                                        <span>- Коренівський Євген</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single_carousel">
                        <div class="row">
                            <div class="col-lg-11">
                                <div class="single_testmonial d-flex align-items-center">
                                    <div class="thumb">
                                        <img src="img/testmonial/author.png" alt="">
                                        <div class="quote_icon">
                                            <i class="Flaticon flaticon-quote"></i>
                                        </div>
                                    </div>
                                    <div class="info">
                                        <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                            tempor incididunt ut labore et dolore magna aliqua.
                                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                                            aliquip ex ea commodo consequat.
                                            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                                            eu fugiat nulla pariatur.
                                            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                                            deserunt mollit anim id est laborum.</p>
                                        <span>- Коренівський Євген</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /testimonial_area  -->


<th:block th:insert="~{fragments/footer}"></th:block>

<th:block th:insert="~{fragments/footer-links}"></th:block>
<script>
    $(document).ready(function () {
        $('.ui.dropdown').dropdown();
        $('#header-dropdown').dropdown({
            action: 'select'
        });
    });
</script>
</body>

</html>