<!doctype html>
<html class="no-js" lang="zxx" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Job Board</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/images/favicon.png}" href="img/favicon.png">
    <!-- Place favicon.ico in the root directory -->

    <th:block th:insert="~{fragments/header-links}"></th:block>
</head>

<body>
<!--[if lte IE 9]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade
    your browser</a> to improve your experience and security.</p>
<![endif]-->

<th:block th:insert="~{fragments/header}"></th:block>
<!-- bradcam_area  -->
<div class="bradcam_area bradcam_bg_1">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text">
                    <h3>Software Engineer</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ bradcam_area  -->

<div class="job_details_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="job_details_header">
                    <div class="single_jobs white-bg d-flex justify-content-between" style="padding-left: 20px">
                        <div class="jobs_left d-flex align-items-center">
                            <img th:src="${'/resources/' + ad.user.img}" src="img/svg_icon/1.svg" alt=""
                                 style="object-fit: contain; max-width: 100px; max-height: 100px;">
                            <div class="jobs_conetent">
                                <a href="#"><h4 th:text="${ad.name}">Software Engineer</h4></a>
                                <div class="links_locat d-flex align-items-center">
                                    <div class="location">
                                        <p><i class="fa fa-map-marker"></i> <span th:text="${ad.city.region.name}">Житомирська</span>
                                            область, м. <span th:text="${ad.city.name}">Бердичів</span></p>
                                    </div>
                                    <div class="location">
                                        <p><i class="fa fa-cubes"></i> <span
                                                th:text="${ad.category.name}">Категорія</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="descript_wrap white-bg">
                    <div class="single_wrap">
                        <h4>Опис вакансії</h4>
                        <p th:text="${ad.description}">There are many variations of passages of Lorem Ipsum available,
                            but the majority have
                            suffered alteration in some form, by injected humour, or randomised words which don't look
                            even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be
                            sure there isn't anything embarrassing.</p>
                    </div>
                    <div th:if="${not ad.responsibilities.isEmpty()}" class="single_wrap">
                        <h4>Обов'язки</h4>
                        <p th:text="${ad.responsibilities}"></p>
                    </div>
                    <div th:if="${not ad.qualifications.isEmpty()}" class="single_wrap">
                        <h4>Кваліфікації</h4>
                        <p th:text="${ad.qualifications}"></p>
                    </div>
                    <div th:if="${not ad.offer.isEmpty()}" class="single_wrap">
                        <h4>Що ми пропонуємо</h4>
                        <p th:text="${ad.offer}">There are many variations of passages of Lorem Ipsum available, but the
                            majority have
                            suffered alteration in some form, by injected humour, or randomised words which don't look
                            even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be
                            sure there isn't anything embarrassing.</p>
                    </div>
                </div>
                <!--<div class="apply_job_form white-bg">
                    <h4>Відгукнутись</h4>
                    <button class="boxed-btn3 w-100" type="submit">Увійти</button>
                </div>-->
            </div>
            <div class="col-lg-4">
                <div class="job_sumary">
                    <div class="summery_header">
                        <h3>Детальна інформація</h3>
                    </div>
                    <div class="job_content">
                        <ul>
                            <li>Опубліковано: <span th:text="${ad.publicDate}">20.12.2020</span></li>
                            <li th:if="${not ad.salary.isEmpty()}">З/П: <span
                                    th:text="${ad.salary}">50k - 120k/міс</span></li>
                            <li>Розташування: <span><span th:text="${ad.city.region.name}">Дніпропетровська</span> область, м. <span
                                    th:text="${ad.city.name}">Бердичів</span></span></li>
                            <li th:if="${not ad.jobNatural.isEmpty()}">Зайнятість: <span th:text="${ad.jobNatural}"> Повний робочий день</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<th:block th:insert="~{fragments/footer}"></th:block>

<th:block th:insert="~{fragments/footer-links}"></th:block>
</body>

</html>