<!doctype html>
<html class="no-js" lang="zxx" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Job Board</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/images/favicon.png}" href="img/favicon.png">
    <!-- Place favicon.ico in the root directory -->

    <th:block th:insert="~{fragments/header-links}"></th:block>
</head>

<body>
<!--[if lte IE 9]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade
    your browser</a> to improve your experience and security.</p>
<![endif]-->

<th:block th:insert="~{fragments/header}"></th:block>

<!-- bradcam_area  -->
<div class="bradcam_area bradcam_bg_1">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text">
                    <h3>Додавання вакансії</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ bradcam_area  -->

<div class="job_details_area" style="background-color: #FFFFFF">
    <div class="container">
        <div class="row">
            <div class="col-lg-16 col-md-12">
                <h3 class="mb-30">Заповніть форму для додавання вакансії</h3>
                <form action="#">
                    <div class="mt-10">
                        <input type="text" placeholder="Заголовок оголошення"
                               onfocus="this.placeholder = ''" onblur="this.placeholder = 'Заголовок оголошення'" required
                               class="single-input">
                    </div>
                    <div class="input-group-icon mt-10">
                        <div class="icon"><i class="fa fa-cubes" aria-hidden="true"></i></div>
                        <div class="form-select" id="default-select">
                            <select>
                                <option>Категорія</option>
                                <option value="1">Dhaka</option>
                            </select>
                        </div>
                    </div>
                    <div class="input-group-icon mt-10">
                        <div class="icon"><i class="fa fa-globe" aria-hidden="true"></i></div>
                        <div class="form-select" id="default-select">
                            <select>
                                <option value=" 1">Область</option>
                                <option value="1">Bangladesh</option>
                            </select>
                        </div>
                    </div>
                    <div class="input-group-icon mt-10">
                        <div class="icon"><i class="fa fa-globe" aria-hidden="true"></i></div>
                        <div class="form-select" id="default-select">
                            <select>
                                <option value=" 1">Місто</option>
                                <option value="1">Bangladesh</option>
                            </select>
                        </div>
                    </div>

                    <div class="mt-10">
                        <textarea class="single-textarea" placeholder="Опис вакансії"
                                  onfocus="this.placeholder = ''"
                                  onblur="this.placeholder = 'Опис вакансії'" required></textarea>
                    </div>
                    <div class="mt-10">
                        <textarea class="single-textarea" placeholder="Обов'язки робітника"
                                  onfocus="this.placeholder = ''"
                                  onblur="this.placeholder = 'Обов`язки робітника'" required></textarea>
                    </div>
                    <div class="mt-10">
                        <textarea class="single-textarea" placeholder="Кваліфікації"
                                  onfocus="this.placeholder = ''"
                                  onblur="this.placeholder = 'Кваліфікації'" required></textarea>
                    </div>
                    <div class="mt-10">
                        <textarea class="single-textarea" placeholder="Що ви пропонуєте спеціалісту"
                                  onfocus="this.placeholder = ''"
                                  onblur="this.placeholder = 'Що ви пропонуєте спеціалісту'" required></textarea>
                    </div>
                    <div class="mt-10">
                        <input type="text" placeholder="Зайнятість"
                               onfocus="this.placeholder = ''" onblur="this.placeholder = 'Зайнятість'" required
                               class="single-input">
                    </div>
                    <div class="mt-10">
                        <input type="text" placeholder="Розмір З/П"
                               onfocus="this.placeholder = ''" onblur="this.placeholder = 'Розмір З/П'" required
                               class="single-input">
                    </div>
                    <div class="submit_btn" style="margin-top: 1.5em;">
                        <button class="boxed-btn3 w-100" type="submit">Створити</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<th:block th:insert="~{fragments/footer}"></th:block>

<th:block th:insert="~{fragments/footer-links}"></th:block>
</body>

</html>