<!doctype html>
<html class="no-js" lang="zxx" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Job Board</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/images/favicon.png}" href="img/favicon.png">
    <!-- Place favicon.ico in the root directory -->

    <th:block th:insert="~{fragments/header-links}"></th:block>
</head>

<body>
<!--[if lte IE 9]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade
    your browser</a> to improve your experience and security.</p>
<![endif]-->

<th:block th:insert="~{fragments/header}"></th:block>

<!-- bradcam_area  -->
<div class="bradcam_area bradcam_bg_1">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text">
                    <h3 th:text="${user.name}">Коренівський Євген</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ bradcam_area  -->

<div class="job_details_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-16">
                <div class="job_details_header">
                    <div class="single_jobs white-bg d-flex justify-content-between">
                        <div class="jobs_left d-flex align-items-center">
                            <div class="single_candidates text-center" style="margin-right: 50px;">
                                <div>
                                    <img style="object-fit: contain; max-width: 150px; max-height: 150px;" th:src="@{/images/candidates/1.png}" src="img/candiateds/1.png" alt="">
                                </div>
                            </div>
                            <div class="jobs_conetent">
                                <a href="#"><h4 th:text="${user.name}">Коренівський Євген Батькович</h4></a>
                                <div class="links_locat d-flex align-items-center">
                                    <div class="location">
                                        <p><i class="fa fa-map-marker"></i> Житомирська область, м. Бердичів</p>
                                    </div>
                                    <div class="location">
                                        <p><i class="fa fa-cogs"></i> Desktop-розробник</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="descript_wrap white-bg">
                    <div class="single_wrap">
                        <h4>Коротка інформація</h4>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have
                            suffered alteration in some form, by injected humour, or randomised words which don't look
                            even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be
                            sure there isn't anything embarrassing.</p>
                        <p>Variations of passages of lorem Ipsum available, but the majority have suffered alteration in
                            some form, by injected humour, or randomised words which don't look even slightly
                            believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there
                            isn't anything embarrassing.</p>
                    </div>
                    <div class="single_wrap">
                        <h4>Навички</h4>
                        <ul>
                            <li>The applicants should have experience in the following areas.
                            </li>
                            <li>Have sound knowledge of commercial activities.</li>
                            <li>Leadership, analytical, and problem-solving abilities.</li>
                            <li>Should have vast knowledge in IAS/ IFRS, Company Act, Income Tax, VAT.</li>
                        </ul>
                    </div>
                    <div class="single_wrap">
                        <h4>Досвід роботи</h4>
                        <ul>
                            <li>The applicants should have experience in the following areas.
                            </li>
                            <li>Have sound knowledge of commercial activities.</li>
                            <li>Leadership, analytical, and problem-solving abilities.</li>
                            <li>Should have vast knowledge in IAS/ IFRS, Company Act, Income Tax, VAT.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<th:block th:insert="~{fragments/footer}"></th:block>

<th:block th:insert="~{fragments/footer-links}"></th:block>
</body>

</html>